<div class="main" id="contatos">
  <div class="container">
    <div class="contacts">
      <h3>Redes Socias</h3>
      <ul>
        <li>Linkedln <a href="https://www.linkedin.com/in/enilson-neto/"
            target="_blank">linkedin.com/in/enilson-neto/</a></li>
        <li>GitHub <a href="https://www.github.com/EnilsonNeto" target="_blank">github.com/EnilsonNeto</a></li>
        <li>Instagram <a href="https://www.instagram.com/enilson_neto_" target="_blank">@enilson_neto_</a></li>
      </ul>
    </div>
    <div class="contacts">
      <h3>Contatos</h3>
      <ul>
        <li>Telefone <a href="https://api.whatsapp.com/send/?phone=5581991443303" target="_blank">(81) 99144-3303</a>
        </li>
        <li>Email <a href="mailto:enilsonneto8@gmail.com" target="_blank">enilsonneto8@gmail.com</a></li>
      </ul>
    </div>
  </div>
  <footer>
    &copy; EnilsonNeto {{ currentYear }}
  </footer>
</div>
