* {
  color: #fff;
}

ul li {
  list-style: none;
}

.logoName {
  font-size: 2rem;
  font-weight: 600;
  cursor: default;
}

.header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#exit{
  font-size: 23px;
}
