<mat-toolbar color="primary" class="custom-toolbar">
  <mat-toolbar-row>
    <div class="reponsiveBar">
      <div class="logo" href="#">
        <a href="#">
          <mat-icon class="cycle"> directions_bike</mat-icon>
          <span class="logoName">CycleLins</span>
        </a>
      </div>
    </div>
    <div class="navBar">
      <ul>
        <li><a href="#bikes">Bikes</a></li>
        <li><a href="#contatos">Contatos</a></li>
        <li><a href="#localizacao">Localização</a></li>
      </ul>
    </div>

    <div class="spacer"></div>

    <div class="listBtn">
      <ul fxLayout="row" fxLayoutGap="20px" class="listBtn">
        <li>
          <button mat-icon-button class="menu" (click)="toggleSideCart()">
            <mat-icon class="cart-icon">shopping_cart</mat-icon>
            <span class="item-count">{{itensCarrinho}}</span>
          </button>
          <button mat-icon-button class="menuMobile" routerLink="/carrinho">
            <mat-icon class="cart-icon">shopping_cart</mat-icon>
            <span class="item-count">{{itensCarrinho}}</span>
          </button>
        </li>
        <li>
          <button class="menuItens" [matMenuTriggerFor]="menu">
            <mat-icon id="exit">menu</mat-icon>
          </button>
          <mat-menu color="primary" class="menuOpen" #menu="matMenu">
              <ul class="menuUl">
                <a class="listMenu" href="#bikes"><li class="list" mat-menu-item><mat-icon class="iconMenu">directions_bike</mat-icon>Bikes</li></a>
                <a class="listMenu" href="#contatos"><li class="list" mat-menu-item><mat-icon class="iconMenu">directions_bike</mat-icon>Contatos</li></a>
                <a class="listMenu" href="#localizacao"><li class="list" mat-menu-item><mat-icon class="iconMenu">directions_bike</mat-icon>Localização</li></a>
              </ul>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
