<mat-nav-list color="primary" class="sidebar">

  <mat-divider class="divider"></mat-divider>

  <div class="navList">
    <mat-nav-list>
      <a mat-list-item  href="/pagina-inicial">
        <mat-icon class="cycle"> directions_bike</mat-icon>
        Página Inicial</a>
      <a mat-list-item  href="/pagina-inicial">
        <mat-icon class="cycle"> directions_bike</mat-icon>
        Minhas Compras</a>
      <a mat-list-item href="/gerenciador-de-administradores">
        <mat-icon class="cycle"> directions_bike</mat-icon>
        Bikes</a>
      <a mat-list-item href="/gerenciador-de-administradores">
        <mat-icon class="cycle"> directions_bike</mat-icon>
        Comparador Bikes</a>
    </mat-nav-list>
  </div>

</mat-nav-list>
