a {
  display: flex;
  color: inherit;
  text-decoration: none;
}

a:hover{
  background-color: #9a003819;
}

.flex-container {
  display: flex;
}

ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

li {
  list-style: none;
}

.navList{
  margin-top: 1rem;
}

button {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

button:hover {
  background-color: #ccc;
  transition: 0.5s;
}

.cycle{
  color: #9a0038;
}

.divider {
  background-color: #000000;
}

:host {
  .mat-icon {
    vertical-align: middle;
  }

  .profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
